@font-face {
  font-family: 'Gilroy-Bold';
  src: url('/src/assets/fonts/gilroy-bold/Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/src/assets/fonts/gilroy-bold/Gilroy-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background: #F9EBFA;
  font-family: 'Gilroy-Bold', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1F1B20
}

p {
  font-family: 'Gilroy', sans-serif !important;
  font-weight: 600;
  color: #1F1B20
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .btn{
    @apply font-normal rounded-[12px];
  }

  .bg-default{
    @apply bg-nude-light;
  }

  .font-bold{
    @apply font-[Gilroy-Bold] font-normal
  }
}
